# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# settings ---------------------------------------------------------------------
/demo/mysql/settings.php
/demo/postgresql/settings.php
# ------------------------------------------------------------------------------

# test -------------------------------------------------------------------------
/test
# ------------------------------------------------------------------------------