# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# settings ---------------------------------------------------------------------
/demo/mysql/settings.php
# ------------------------------------------------------------------------------