#demo_grid1, #demo_grid2 {
    margin-top: 20px;
}

#demo_grid1_test {
    margin-top: 10px;
    margin-bottom: 10px;
}


.grid1 {
    width: 600px;
    padding: 10px;
    border: solid #000000 1px;
}

.grid1_data {
    width: 100%;
    padding: 10px;
    border: solid #000000 1px;
}

.grid1_table {
    width: 100%;
}

.grid1_footer {
    width: 100%;
    padding: 10px;
    border: solid #000000 1px;
}

.grid1_tools {
    width: 25%;
    padding: 10px;
    float: left;
    border: solid #000000 1px;
}

.grid1_pagination {
    width: 50%;
    padding: 10px;
    float: left;
    border: solid #000000 1px;
}

.grid1_rows {
    width: 25%;
    padding: 10px;
    float: left;
    border: solid #000000 1px;
}

