body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
}

.spacer {
    margin: 20px 0;
}

/* demo_grid1 --------------------------------------------------------------- */
.grid1_container {
    width: 800px;
    padding: 5px;
    background: none;
}

.grid1_data {
    padding: 0;
    height: 250px;
    overflow: auto;
    margin: 0 0 5px 0;
}

/* demo_grid2 --------------------------------------------------------------- */
.dlg_demo_grid2 {
    padding-left: 3px !important;
}

.grid2_container {
    width: 100%;
    padding: 5px;
    background: none;
}

.grid2_data {
    padding: 0;
    height: 260px;
    overflow: auto;
    margin: 0 0 5px 0;
}
