body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
}

#demo_grid1, #demo_grid2 {
    margin-top: 20px;
}

#demo_grid1_test {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* demo_grid1 --------------------------------------------------------------- */
.grid1_container {
    width: 700px;
    padding: 5px;
    background: none;
    overflow: auto;
}

.grid1_data {
    width: 100%;
    padding: 10px;
}

.grid1_table_dim {
    width: 100%;
}

.grid1_tools {
    padding: 10px;
}

.grid1_pagination {
    padding: 5px;
}

.grid1_slider {
    width: 400px;
    margin: 10px auto;
}

/* demo_grid2 --------------------------------------------------------------- */
