.wrap {
    padding: 5px;
}

.spacer {
    margin: 20px 0;
}

#dlg_demo_grid1_log p {
    padding-bottom: 5px;
    font-size: 12px;
    font-family: "courier new";
}

/* demo_grid1 --------------------------------------------------------------- */
.grid1_container {
    width: 750px;
    padding: 5px;
    background: none !important;
}

.grid1_data {
    padding: 0;
    margin: 0 0 5px 0;
    border: none !important;
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden !important;
}


.th_code, .th_lastname, .th_firstname, .th_email, .th_gender {
    text-align: left;
}

.th_code {
    width: 5%;
}
.th_lastname {
    width: 17%;
}
.th_firstname {
    width: 12%;
}
.th_email {
    width: 50%;
}

.th_gender {
    width: 10%;
}

.td_code {
    width: 5%;
    font-family: "courier new";
}
.td_lastname {
    width: 17%;
}
.td_firstname {
    width: 12%;
}
.td_email {
    width: 50%;
    color: blue;
    font-family: "courier new";
}

.td_gender {
    width: 10%;
    font-size: 11px;
}


/*.th_lastname {
    width: 140px;
}
.th_firstname {
    width: 91px;
}
.th_email {
    width: 412px;
}
.th_gender {
}


.td_lastname {
    width: 140px;
}
.td_firstname {
    width: 91px;
}
.td_email {
    width: 412px;
    color: blue;
}
.td_gender {
    font-size: 11px;
}*/

/* demo_grid2 --------------------------------------------------------------- */
.dlg_demo_grid2 {
    padding-left: 3px !important;
    font-size: 14px;
}

.grid2_container {
    width: 100%;
    padding: 5px;
    background: none !important;
}

.grid2_data {
    padding: 0;
    margin: 0 0 5px 0;
    border: none !important;
    height: 200px;
    overflow: auto;
}
